.ranking-platform-wrapper {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 23px;
    margin-bottom: 19px;
    gap: 12px;
}

.ranking-platform-button {
    width: 120.9px;
    height: 35.1px;
    font-size: 15.6px;
    background-color: #191414;
    font-family: "Gajraj One", sans-serif;
    border: 4px solid #FFFFFF;
    color: white;
    border-radius: 11.7px;
}