.movie-detail-wrapper {
    background-color: #191414;
    max-width: 900px;   /* 너비 제한 */
    margin: 0 auto;      /* 가운데 정렬 */
    width: 686.4px;
    overflow-x: hidden;  /* 가로 스크롤 방지 */
    padding: 0 1rem;     /* 모바일 대응 여백 */
    box-sizing: border-box;
    
}