@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&display=swap');

.trailer-wrapper {
    width: 615.52px;
    height: 234px;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem;
    padding-bottom: 0px;
}
.video-title {
    font-size: 39px;
    margin-bottom: 0px;
    margin-top: 38px;
    font-family: "Gajraj One", sans-serif;
    color: #FFFFFF;
}
.video-wrapper {
    display: flex;
    padding-bottom: 0%;
    flex-direction: row; /* 가로 방향 정렬 */
    gap: 16px;           /* 영상 간 간격 */
    overflow-x: auto;    /* 넘칠 경우 가로 스크롤 */
  }
  
  .video-wrapper::-webkit-scrollbar {
    height: 3.9px;
  }

  .video-wrapper::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .video-wrapper::-webkit-scrollbar-thumb {
    background-color: #1ED863;
    border-radius: 4px;
  }
  
  .video-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: #15a04c;
  }

  .video-container {
    flex: 0 0 auto;       /* 영상 크기 고정 */
  }