.home{
    background-color: #191414;
    max-width: 900px;   /* 너비 제한 */
    margin: 0 auto;      /* 가운데 정렬 */
    width: 686.4px;
    overflow-x: hidden;  /* 가로 스크롤 방지 */
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.home-recResult{
    width: calc(100% - 78px);
    margin: 16px 39px;
}

.recResult-title{
    display: flex;
    align-items: center;
    p{
        font-size: 19.5px;
        font-family: "Freesentation-9Black";
        margin: 0;
    }
    .title-system{
        color: #1ED863;
    }
    .title-user{
        margin-left: 5px;
        color: #FFFFFF;
    }
    .recResult-button {
        width: 60px;
        height: 20px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        background-color: transparent;
        display: flex;         
        justify-content: center;  
        align-items: center;    
        position: relative;
        margin-left: auto;
        margin-top: 2px; 
        .recResult-restart-icon {
            width: 24px;
            height: 24px;
        }        
    }
}
